.mintContainer {
  display: flex;
  height: fit-content;
  width: 50em;
  color: white;
}

.mintForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  position: relative;
  padding-bottom: 3em;
}

.mintTitle {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileTitle {
  width: 100%;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1.7em;
}

.fileTypes {
  width: 100%;
  padding-bottom: 2px;
}

.fileCharge {
  border: 3px dashed #ddd;
  height: 16em;
  width: 25em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  cursor: pointer;
}

.fileCharge div {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fileCharge img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.trash {
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  background-color: black;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 0 15px 0 15px;
}

.fileCharge h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.fileInput {
  height: 100%;
  width: 100%;
}

.fileIcon {
  font-size: 4em;
}

.mintFieldsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.2em;
  position: relative;
}

.mintFieldsContainerExep {
  margin-bottom: 0em;
}

.mintLabel {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: 600;
}

.mintInputText {
  border: none;
  background-color: #ddd;
  height: 2.5em;
  font-size: 1.1em;
  padding: 0 0.5em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.mintInputTextarea {
  min-height: 10em;
  font-size: 1.1em;
  padding: 0 0.5em;
  border-radius: 5px;
  margin-bottom: 0.3em;
  resize: none;
}

.mintFieldsContainer span {
  margin-bottom: 5px;
}

.mintAddAttribute {
  border: 3px dashed #ddd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  font-size: 1.3em;
  padding: 0 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.attributeContainer {
  background-color: #ddd;
  color: var(--bg-primario);
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 2.2em;
  font-size: 1.1em;
  padding: 0 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.attributeLabel {
  font-weight: 600;
}

.attributeValue {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.trashAttribute {
  font-size: 1.5em;
  cursor: pointer;
}

.mintButton {
  height: 3em;
  background-color: rgb(39, 39, 153);
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  width: 10em;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.mintButtonDisabled {
  background-color: rgba(39, 39, 153, 0.2);
  color: rgba(255, 255, 255, 0.2);
  cursor: no-drop
}

.errorText {
  display: flex;
  align-items: center;
  color: rgb(200, 45, 45);
  font-size: 1em;
  position: absolute;
  bottom: -1.5em;
}

.exclamationIcon {
  margin-right: 0.3em;
}

@media (max-width: 1000px) {
  .mintContainer {
    width: 100%;
    /* padding: 0 2em; */
  }
}

@media (max-width: 610px) {
  .mintContainer {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .mintContainer {
    font-size: 13px;
  }

  .mintForm {
    padding-bottom: 4.5em;
  }

  .mintButton {
    height: 2.5em;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .fileCharge {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .mintContainer {
    font-size: 12px;
  }
}